<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js</title>
</head>

<body>

    <div id="app">

        <ul>
            <li v-for="(comment, index) in comments">
                <br>
                <button v-on:click="addScore">+</button>
                <p>{{ comment}} || {{ date }} || Score : {{ score }}</p>
                <button v-on:click="reduceScore(index)">-</button>
            </li>
        </ul>
        <br>

        <textarea cols="30" rows="10" @keyup.enter="addComment" v-model="content"></textarea>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>